
.Background {

    margin: 0 60px 0 0;
    padding: 116px 0 0;
    background-color: #fff;
}
.Home-Header {
    position:relative;
    top:-300px;
    width: 1368px;
    height: 900px;
    margin: 0 0 0 72px;
    background-image: radial-gradient(circle at 11% 11%, #9edfd2, #fceebb 69%);
}
.Vector-7 {
    position:relative;
    top: -100px;
    left:0px;
    width: 2.0px;
    height: 0.5px;
    margin: 0 3px 5px 4.9px;

  }
  .user{
    position:relative;
    top: -40px;
    left:-15px;
    width: 36px;
    height: 36px;
    margin: 0 18px 1px;
  }
  .Metamask-Logo {
    position:relative;
    top: 0px;
    left:0px;
    width: 25px;
    height: 25px;
    flex-grow: 0;
  }
  .Home {
    position:relative;
    top: 120px;
    left:0px;
    width: 20px;
    height: 17px;

    background-color: #c4c4c4;
  }
  .Pencil {
    position:relative;
    top: 160px;
    left:0px;
    width: 16px;
    height: 16px;
    flex-grow: 0;
    margin: 0 0 1px 2.5px;
  }
  .Nav-Collapsed-Inactive {
    position:relative;
    top: 200px;
    left:10px;
    width: 30px;
    height: 48px;
    flex-grow: 0;

    background-color: #fff;
  }
  .Page-Title {
    width: 157px;
    height: 40px;
    font-family: HelveticaNeue;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: -0.5px;
    text-align: left;
    color: #fff;
  }
  .Subhead {
    width: 67px;
    height: 20px;
    margin: 40px 90px 0 0;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .Rectangle-6 {
    position:absolute;
    top:152px;
    left:219px;
    width: 800px;
    height: 46px;
    flex-grow: 0;

    padding: 8px 0px 8px 21px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Q-Question {
    position :absolute;
    top:160px;
    left:240px;
    width: 108px;
    height: 40px;
    flex-grow: 0;
    font-family: HelveticaNeue;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: -0.5px;
    text-align: left;
    color: #757575;
  }

  .Rectangle-7 {
    position:absolute;
    top:238px;
    left:219px;
    width: 200px;
    height: 152px;
    flex-grow: 0;
    padding: 10.5px 299.6px 321.5px 25.5px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Subhead {
    width: 293px;
    height: 20px;
    flex-grow: 0;
    margin: 46px 142px 22px 33px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }
  .A-Submitted-answer {
    width: 184.9px;
    height: 40px;
    flex-grow: 0;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.5;
    letter-spacing: -0.5px;
    text-align: left;
    color: #757575;
  }
  .Rectangle-2 {
    width: 1368px;
    height: 112px;
    flex-grow: 0;
    margin: 0 0 708px;
    padding: 50px 432px 18px 426px;
  }
  .Rectangle-11 {
    width: 374px;
    height: 154px;
    flex-grow: 0;
    margin: 22px 62px 20px 32px;
    padding: 20.1px 0 33.4px 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Rectangle-12 {
    width: 374px;
    height: 154px;
    flex-grow: 0;
    margin: 22px 62px 20px 61px;
    padding: 20.1px 0 33.4px 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .Subhead {
    width: 293px;
    height: 20px;
    flex-grow: 0;
    margin: 46px 142px 22px 33px;
    font-family: HelveticaNeue;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }  
  .Line-1 {
    width: 373px;
    height: 93.8px;
    flex-grow: 0;
    margin: 0 0 6.7px;
    padding: 19.9px 231px 53.9px 122px;
    border: solid 2px #fbe1af;
  }
  ._Step-first {

    width: 170px;
    height: 44px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
  }
  .Line {
    width: 170px;
    height: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 9px 0;
    padding: 0;
  }
  .Step {
    position:relative;
    top:352px;
    left:350px;
    height: 20px;
    align-self: stretch;
    flex-grow: 0;
  }
  .Filled {
    height: 2px;
    flex-grow: 1;
    background-color: #6690fc;
  }
  .Empty {
    height: 2px;
    flex-grow: 1;
    background-color: #dce3e9;
  }
  .Circle {
    position: absolute;
    top:573px;
    left:50px;
    width: 20px;
    height: 20px;
    margin: 0 75px;
    padding: 2px 6.5px;
    border: solid 4px rgba(102, 144, 252, 0.2);
    background-color: #6690fc;
  }
  .Number {
    width: 7px;
    height: 16px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }
._Step-nth {
  width: 170px;
  height: 44px;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 8px;
  padding: 0;
}
._Step-last {
    width: 170px;
    height: 44px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 8px;
    padding: 0;
  }

  
  